/* ==|== HelpLess - LESS Helpers Library (http://m6tt.github.com/HelpLess) = */
@import 'libs/helpless.0.0.3.less';

/* ==|== Import HTML5 ✰ Boilerplate LESS library =========================== */
@import 'libs/boilerplate.less';

/* Normalize */
#blr.normalize(#0abbcd, #555);

/* ==|== primary styles =====================================================
   Author:
  ========================================================================== */

@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('fonts/league_gothic-webfont.eot');
    src: url('fonts/league_gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/league_gothic-webfont.woff') format('woff'),
         url('fonts/league_gothic-webfont.ttf') format('truetype'),
         url('fonts/league_gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@primary-color: #ff9900;
@dark-text: #424242;

.box-style () {
	border: 2px solid #fff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

html {
	#hl.reset();
	background: url(../images/bg_pattern.png);
	#hl.typo.sans('LeagueGothicRegular');

	header {
		#hl.clearfix();

		.top-bar {
			background: #fff;
			height: 22px;
			margin-bottom: 20px;
		}

		.logo {
			.box-style();
			float: left;
			background: @primary-color;
			color: #fff;
			font-size: 48px;
			padding: 20px;
			margin-left: -2px;
			#hl.transition(margin, 0.5s, linear, 1s);
		}

		.hide_logo {
			margin-left: -415px;
		}

		.map-title {
			float: right;
			text-align: right;
			font-size: 18px;
			padding: 20px;
			#hl.transition(opacity, 1s, linear, 2s);

			h2 {
				font-size: 48px;
				margin-bottom: 5px;
			}
		}

		.hide-map-title {
			opacity: 0;
		}
	}

	div[role="main"] {

		nav {
			float: left;

			.nav-button {
				.box-style();
				background: url(../images/nav-arrows.png) no-repeat center center @primary-color;
				height: 29px;
				width: 34px;
				margin-left: -4px;
				#hl.transition(margin, 0.1s, linear);
			}

			.nav-button:hover {
				margin-left: -2px;
			}

			.nav-button.hide {
				margin-left: -34px;
			}


			ul {
				margin-top: 15px;
				/*margin-left: -232px;*/
				#hl.transition(margin, 1s, linear);

				li {
					.box-style();
					color: @dark-text;
					padding: 5px 10px 3px;
					width: 210px;
					background: #e9e9e9;
					font-size: 24px;
					margin: 0 0 8px -2px;
					cursor: pointer;
					#hl.rotateY();
					-webkit-transform-origin: 0%;
					-moz-transform-origin: 0%;
					-o-transform-origin: 0%;
					-ms-transform-origin: 0%;
					transform-origin: 0%;

				}

				li.current {
					background: @primary-color;
					color: #fff;
					-webkit-box-shadow: none;
					-moz-box-shadow: none;
					box-shadow: none;
					cursor: default;
				}

				li:nth-child(1) {#hl.transition(all, 0.3s, linear);}
				li:nth-child(2) {#hl.transition(all, 0.3s, linear, 0.1s);}
				li:nth-child(3) {#hl.transition(all, 0.3s, linear, 0.2s);}
				li:nth-child(4) {#hl.transition(all, 0.3s, linear, 0.3s);}
				li:nth-child(5) {#hl.transition(all, 0.3s, linear, 0.4s);}
				li:nth-child(6) {#hl.transition(all, 0.3s, linear, 0.5s);}
				li:nth-child(7) {#hl.transition(all, 0.3s, linear, 0.6s);}
			}

			.show {
				margin-left: 0;

				li {
					#hl.rotateY(0);
				}
			}

		}

		.map-container {
			width: 960px;
			margin: 0 auto;
			padding: 10px 0;
			#hl.transition(opacity, 1s, linear);

			#themap {
				background: url(../images/map.png) center no-repeat;
			}
		}

		.hide-map-container {
			opacity: 0;
		}
	}

	.team_modal {
		position: absolute;
		opacity: 0;
		#hl.transition(opacity, 0.2s, linear);
		width: 170px;
		height: 145px;
		border: 2px solid #fff;
		#hl.round-all-corners(3px);
		background: rgba(256,256,256,0.9);
		-webkit-box-shadow:  0px 0px 7px 1px rgba(0, 0, 0, 0.3);
        box-shadow:  0px 0px 7px 1px rgba(0, 0, 0, 0.3);

        .team_info {
        	padding: 5px;
        	color: #fff;
        	background: #000;
        	#hl.clearfix();

        	h1 {
        		font-size: 29px;
        		margin-bottom: 3px;
        	}

        	p.team_location {
        		font-size: 10px;
        		font-family: Arial, Helvetica, sans-serif;
        		float: left;

        	}

        	p.team_conference {
        		font-size: 10px;
        		font-family: Arial, Helvetica, sans-serif;
        		float: right;
        	}
        }

        .category_number {
        	font-size: 55px;
        	text-align: center;
        	padding: 20px 0;
        	color: @dark-text;
        }

	}

	.visible {
		opacity: 1;
	}

}

/* ==|== media queries ====================================================== */
/* Screen width <= 320px */
@media only screen and (max-width: 320px) {

}

/* Screen width > 320px */
@media only screen and (min-width: 321px) and (max-width: 480px) {

}

/* Screen width > 480px */
@media only screen and (min-width: 481px) and (max-width: 768px) {

}

/* Screen width > 768px */
@media only screen and (min-width: 769px) and (max-width: 1024px) {

}

/* Screen width > 1024px */
@media only screen and (min-width: 1023px) and (max-width: 1280px) {

}

/* Screen width > 1280px */
@media only screen and (min-width: 1281px) {

}

/* ==|== endos ==============================================================
   Please define your styles before this section.
   ========================================================================== */
#blr.ns-helpers();
@media print { #blr.media-print(); }